body {
  background: black;
  color: white;
  text-transform: uppercase;
  margin: 40px;
}

.cols {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.col {
}

.circle-wrap {
  position: relative;
  height: 500px;
  width: 500px;
  padding: 20px 0;
}

.circle-wrap .figure {
  margin: 39% auto
}

.circle {
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  border: 1px solid white;
}

.circle.selected {
  background: red;
}

.dir {
  font-size: 32px;
  margin: auto 30px;
  text-align: center;
}

.dir-single {
  margin: auto 0px;
}

.dir-single:last-child {
  margin-bottom: 40px;
}

.horiz-dirs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.figure  {
  margin: 0 0 60px;
  text-align: center;
}

.figure .val {
  font-size: 84px;
  display: block;
}

.figure .desc {
  font-size: 14px;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
}

nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
  padding: 0;
  display: block;
  flex-basis: 0;
  flex: 1;

}

nav a {
  display: block;
  border: 1px solid white;
  border-radius: 3px;
  margin-right: 10px;
  padding: 2px 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 12px;
}

nav a.active {
  background: red;
}

nav li:last-child a {
  margin-right: 0;
}


